body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    background-image: url('background-image1.jpg'); 
    background-size: cover; 
    background-position: center;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo a:hover {
    text-decoration: underline;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.welcome-text {
    margin-top: 30px;
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
}

.dashboard-text {
    margin-top: 20px;
    color: #585858;
    font-size: 1.2rem;
}

.what-new {
    padding: 2em 0 4em;
    text-align: center;
    background: #f5f5f5;
    border-radius: 10px;
}

.what-new h3 {
    font-size: 4em;
    font-weight: 700;
    color: #000;
    margin: 0.5em 0;
    line-height: 1.2em;
}

.blog-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3em;
}

.blog-news-grid {
    width: calc(33.333% - 20px);
    margin-bottom: 2em;
}

.news-grid-left {
    background: #333;
    padding: 2em 1em;
    border-radius: 10px;
    color: #fff;
}

.news-grid-left h4 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.news-grid-left small {
    font-size: 0.8em;
    display: block;
    margin-bottom: 1em;
}